.sidebar{
    width : 18%;
    min-height : 100vh;
    border : 1.5px solid  #a9a9a9;
    border-top :0 ;
    font-size : max(1vw, 10px);

}

.sidebar .sidebar-options{
    padding-top: 50px;
    padding-left : 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.sidebar .sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border :1px solid #a9a9a9;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor :pointer;

}
/* when we open theinspct and slidebar there will be active tag at the Navlink part */
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}

@media (max-width :900px){

    .sidebar-option p{display:none};
}

