.search-dropdown {
  position: relative;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 10px;
  z-index: 1000;
}

.close-btn {
  text-align: right;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}

.close-btn:hover {
  color: black;
}
