.order-item{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr ;
    align-items: start;
    gap:30px;
    border: 1px solid tomato;
    padding : 30px 10px 5px 5px;
    font-size: 14px;
    color : #505050;
    margin : 30px 40px;   
    
}

.order-item-food, .order-item-address
{
font-weight: 600;

}

.order-item select{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: 110px;
    padding: 10px;
    outline : none;
}

@media(max-width: 1000px)
{
    .order-item{
        font-size:12px ;
        grid-template-columns: 0.5fr 1.5fr 1.5 fr;
        padding: 15px 8px;

    }

    .order-item select{
        padding: 8px;
        font-size: 12px;
    }
    .order-item img
    {
        width: 40px;
    }
}